.markdown-body {
  color-scheme: dark;
  color: #ffffffe6;
  background-color: #05010d;
}

.markdown-body mark {
  background-color: #fff8c5;
  color: #000;
}

.markdown-body img {
  background-color: #0f0f0f;
}

.markdown-body hr {
  border-bottom: 1px solid #21262d;
  background-color: #30363d;
}

.markdown-body ::placeholder {
  color: #6e7681;
  opacity: 1;
}

.markdown-body kbd {
  color: #c9d1d9;
  background-color: #161b22;
  border: solid 1px rgba(110, 118, 129, 0.4);
  border-bottom-color: rgba(110, 118, 129, 0.4);
  box-shadow: inset 0 -1px 0 rgba(110, 118, 129, 0.4);
}

.markdown-body blockquote {
  color: #8b949e;
  border-left: 0.25em solid #30363d;
}

.markdown-body table th,
.markdown-body table td {
  border: 1px solid #30363d;
}

.markdown-body table tr {
  background-color: #0f0f0f;
  border-top: 1px solid #21262d;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #161b22;
}

.markdown-body code,
.markdown-body tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(110, 118, 129, 0.4);
  border-radius: 6px;
}

.markdown-body pre {
  background-color: #161b22;
}
