.markdown-body {
  color: #1b2832;
  background-color: #fdfdfd;
  color-scheme: light;
}

.markdown-body mark {
  background-color: #fff8c5;
  color: #24292f;
}

.markdown-body img {
  background-color: #ffffff;
}

.markdown-body hr {
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  background-color: #d0d7de;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175, 184, 193, 0.2);
  border-bottom-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}

.markdown-body blockquote {
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}

.markdown-body table th,
.markdown-body table td {
  border: 1px solid #d0d7de;
}

.markdown-body table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210, 18%, 87%, 1);
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body code,
.markdown-body tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

.markdown-body pre {
  background-color: #f6f8fa;
}
