{
  "extends": ["@halodong/eslint-config-react"],
  "ignorePatterns": ["*.js", "*.json", "*.rs"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
      ]
    },
    "requireConfigFile": false,
    "project": "./tsconfig.eslint.json"
  }
}
