# build
dist
dist-types
target

.DS_Store

# dependencies
node_modules
/.pnp
.pnp.js

# vitest
coverage
html

# Zero-installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
