# build
dist
dist-types
target

.DS_Store

# dependencies
node_modules
/.pnp
.pnp.js

# vitest
coverage
html

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


.rollup.cache

.turbo

.env
.env.dev
.env.prod
