[package]
name = "markflowy"
version = "0.7.2"
description = "A Markdown Editor App"
authors = ["drl990114"]
license = ""
repository = ""
edition = "2021"

[lib]
name = "markflowy"
crate-type = [
    "staticlib",
    "cdylib",
    "rlib",
]

[build-dependencies.tauri-build]
version = "2.0.0-beta.1"
features = []

[dependencies]
serde_json = "1.0"
anyhow = "1.0.79"
dark-light = "1.0.0"
log = "0.4.19"
tauri-plugin-updater = "2.0.0-alpha.6"
tauri-plugin-http = "2.0.0-alpha.9"
tauri-plugin-store = "2.0.0-alpha.6"
tauri-plugin-os = "2.0.0-alpha.5"
tauri-plugin-shell = "2.0.0-alpha.6"
tauri-plugin-dialog = "2.0.0-alpha.7"
tauri-plugin-clipboard-manager = "2.0.0-alpha.6"
regex = "1.10.3"
lazy_static = "1.4.0"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dependencies.tauri]
version = "2.0.0-alpha.21"
features = [
    "protocol-asset",
    "devtools",
]

[dependencies.mf-utils]
path = "../../../crates/utils"

[dependencies.file_search]
path = "../../../crates/file_search"

[dependencies.download_npm]
path = "../../../crates/download_npm"

[dependencies.tokio]
version = "1"
features = ["full"]

[target."cfg(any(target_os = \"windows\", target_os = \"macos\"))".dependencies.window-vibrancy]
git = "https://github.com/tauri-apps/window-vibrancy"

[target."cfg(any(target_os = \"windows\", target_os = \"macos\"))".dependencies.window-shadows]
git = "https://github.com/tauri-apps/window-shadows"

[target."cfg(any(target_os = \"macos\"))".dependencies]
cocoa = "0.25"
objc = "0.2.7"

[features]
custom-protocol = ["tauri/custom-protocol"]
